<div>
  <h3><%= @note.title %>: <small><%= @note.content %></small><h3>
</div>
<ul class="nav navbar-nav">
    <li><a href='/'>Home</a>
    <li><a href='/note/<%= @note.id %>/edit'>Edit</a>
    <li><a href='/note/<%= @note.id %>/confirm_delete'>Delete</a>
</ul>

    <!--
    <li><form action="/note/<%= @note.id %>" method="post">
      <input type="hidden" name="_method" value="Delete">
      <input type="submit" name="submit" value="delete">
    </form></li>
  -->

      <!--
    <li><form action="/note/<%= @note.id %>/update" method="get">
      <input type="hidden" name="_method" value="put">
      <input type="submit" name="update">
    </form></li>
  -->

